
.open-sans-demo{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  }
*{
    margin: 0px;
}
nav{
    width: 71%;
    max-width: 1140px;
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    background-color: bisque;
    margin: 0 auto;
    padding-top: 50px;
   
    
}